In [ ]:
#***********************Part A***********************

In [ ]:
import pandas as pd
from sklearn import tree

In [ ]:
stuations =pd.DataFrame(pd.read_csv("tennis.csv")) 
stuations.head()

   temperature  rainy  humidity  wind_speed      result
0            8      5        30          19  cancelling
1            7      4        31          19  cancelling
2           12      3        25          19  cancelling
3            6      0        28          19  cancelling
4           13      1        28          19  cancelling

In [ ]:
data = stuations[['temperature','rainy','humidity','wind_speed']]
label =  stuations[['result']]

In [ ]:
decisionMake= tree.DecisionTreeClassifier()
decisionMake= decisionMake.fit(data, label)

In [ ]:
decisionMake.predict([[2, 0,0,50]])

array(['cancelling'], dtype=object)

In [ ]:
decisionMake.predict([[2, 5,0,7]])

array(['playing'], dtype=object)

In [ ]:
#****************************Part B*******************************

In [ ]:
import pandas as pd
from sklearn import tree

In [ ]:
covid19 =pd.DataFrame(pd.read_csv('covid_infection.csv'))

In [ ]:
c_data = covid19[['fever','cough','breathing_diffuculties']]
c_label=covid19[['infected']]

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:

c_data_train, c_data_test, c_label_train, c_label_test = train_test_split(c_data, c_label, test_size=0.3)

In [ ]:
from sklearn.neighbors import KNeighborsClassifier 
my_classifier = KNeighborsClassifier()

In [ ]:
my_classifier.fit(c_data_train,c_label_train)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  """Entry point for launching an IPython kernel.

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
                     metric_params=None, n_jobs=None, n_neighbors=5, p=2,
                     weights='uniform')

In [ ]:
predictions =my_classifier.predict(c_data_test)

print(predictions)

:

In [ ]:
print(c_label_test)

:

In [ ]:
from sklearn.metrics import accuracy_score 

print(accuracy_score(c_label_test, predictions))

1.0